<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.thematic">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Schedule_search2"></activity>
        <activity android:name=".Caregive_and_case" />
        <activity android:name=".Schedule" />
        <activity android:name=".request" />
        <activity android:name=".Forget_password" />
        <activity android:name=".Service_user_data" />
        <activity android:name=".Work_report" />
        <activity android:name=".User_data_date" />
        <activity android:name=".Menu_for_manager" />
        <activity android:name=".Inform_arrange" />
        <activity android:name=".Schedule_search1" />
        <activity android:name=".Register" />
        <activity android:name=".Service_check" />
        <activity android:name=".Personal_data" />
        <activity android:name=".Menu_for_user" />
        <activity android:name=".Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>